<section class="js__one container">
  <h1 class="js__one-h1">Знакомство с JavaScript</h1>
  <p class="js__title">
    Когда мы говорим о программировании, первое, что приходит в голову это набор
    инструкций в файле. <b>Исходный код (source code)</b> - это текст
    компьютерной программы на любом языке программирования, набор удобочитаемых
    синтаксических конструкций, описывающих набор инструкций для компьютера. Сам
    по себе исходный код непонятен для машины. Есть шаг, выполняющийся после
    написания программы, который конвертирует исходный код в файле в набор
    инструкций понятных компьютеру. Этим занимается специальная программа:
    компилятор или интерпретатор. Отсюда можно сделать вывод - код пишется не
    для машины, а для разработчика. Исходный код должен не только верно решать
    задачу, но и быть понятным.
  </p>
  <h2 class="js__one-h2">Логическое мышление</h2>
  <p class="js__title">
    В мире существует много языков программирования. Они не такие сложные, как
    человеческие, потому что состоят из довольно маленького набора
    синтаксических конструкций, а их принцип работы и базовые концепции похожи
    между разными языками. Опытные разработчики рассматривают проблемы с точки
    зрения алгоритмов - набора шагов, которые нужно выполнить для достижения
    определённой цели. Мы постоянно используем алгоритмы в повседневной жизни.
    Например, процесс приготовления чая - это набор необходимых шагов (алгоритм)
    для достижения результата. Когда вы привыкнете выстраивать решение задачи в
    виде алгоритма, язык программирования будет всего лишь инструментом.
  </p>
  <script src="../js/module-one.js"></script>
</section>
